

<audio id="localAudio" style="display:none;"></audio>

<div class="well">
    <div class="row">
        <div class="col-md-12">
            
            <span id="status"></span>
            <span id="registered"></span>
            <span id="display"></span>
            <a href='' id="settings" class="">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-inline" role="form">
                                    

                <div class="input-group">

                    <input type="text" ng-model="phone.number" class="search-query form-control">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<a class='btn btn-default'>1</a> <a class='btn btn-default'>2</a> <a class='btn btn-default'>3</a> <br/> <a class='btn btn-default'>4</a> <a class='btn btn-default'>5</a> <a class='btn btn-default'>6</a> <br/> <a class='btn btn-default'>7</a> <a class='btn btn-default'>8</a> <a class='btn btn-default'>9</a> <br/> <a class='btn btn-default'>*</a> <a class='btn btn-default'>0</a> <a class='btn btn-default'>#</a>" id="numpad" >
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                    </span>

                </div>
                
                <script>
                        $('#numpad').popover({
                            html: true,
                            title: 'Numpad'
                        });
                </script>

                <a href="" ng-click="phone.call();" ng-show="phone.isIdle()" class="btn btn-primary">
                    <i class="icon-plus-sign"></i>
                    Call
                </a>

                <a href="" ng-click="phone.release();" ng-show="!phone.isIdle()" class="btn btn-danger">
                    <i class="icon-plus-sign"></i>
                    End
                </a>
            </div>
        </div>
    </div>
    
</div>
